@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');



#header{
    /* height:100px;
    width:200px; */
    /* background; */
    position: absolute;
    top:0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:80px;
    margin:10px;

    
}

.small{
    font-size: 40px;
}